.container {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.right {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
