.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.content {
}
.pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.label {
    text-transform: capitalize;
    font-size: 1em;
    color: #9b9b9b;
}
.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.8em;
    color: #4a4a4a;
}
