.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
}
.header {
    flex-basis: 120px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
}
.content {
    height: calc(100% - 180px);
    flex-grow: 1;
    position: relative;
}
.footer {
    flex-basis: 60px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    background-color: #ff6700;
}

@font-face {
    font-family: "proxima";
    src: url(../../asset/font/ProximaNova-Reg.otf) format('woff'),
        url(../../asset/font/proxima-nova-black.ttf) format('truetype');
}
